h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.container {
    margin-top: 50px;
}
.card-title {
    color: green;
}

h4 {
    color: brown;
}
.Animate {
    width: 50px;
    height: 50px;
    background: rgb(154, 3, 192);
    position: relative;
    animation: mymove 9s infinite;
}

@keyframes mymove {
    from {
        left: 0px;
    }
    to {
        left: 100%;
    }
}
